<section class="gallows">
  <% case @wrong_answer_count %>
  <% when 0 %>
    <img src="/images/hangman_empty_gallows.svg" alt="empty gallows - game has just started">
  <% when 1 %>
    <img src="/images/hangman_head_only.svg" alt="just the head so far">
  <% when 2 %>
    <img src="/images/hangman_head_and_body.svg" alt="now the head and body">
  <% when 3 %>
    <img src="/images/hangman_one_limb.svg" alt="one limb!">
  <% when 4 %>
    <img src="/images/hangman_two_limbs.svg" alt="two limbs!!">
  <% when 5 %>
    <img src="/images/hangman_three_limbs.svg" alt="three limbs!!!!">
  <% when 6 %>
    <img src="/images/hangman_full_body.svg" alt="full hangman body - player loses">
  <% end %>
</section>

<% if game_lost? %>
  <h3>The word was: <%= @secret_word %></h3>
<% end %>

<% if all_letters_found? %>
  <h3>You win!</h3>
<% end %>

<% if game_over? %>
  <fieldset class="play-again">
    <form action='/play_again' method='post'>
      <p>Play again?</p>
      <div class="play-again-buttons">
        <button type="submit" name="play_again" value="no">no</button>
        <button type="submit" name="play_again" value="yes">yes</button>
      </div>
    </form>
  </fieldset>
<% end %>

<section class="secret-letter-list">
  <ul class="secret-letter-list">
    <% @filtered_letters.each do |letter| %>
      <li><%= "#{letter}" %></li>
    <% end %>
  </ul>
</section>

<section class="alpha-pick">
  <form class="alpha-form" method="post" action="/gallows">
    <div class="alpha-grid">
      <div class="alpha-grid-1">
        <% ALPHA_LETTERS[0..9].each do |alpha_letter| %>
          <% if @available_letters.include?(alpha_letter) %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>"><%= alpha_letter %></button>
          <% else %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>" disabled> </button>
          <% end %>
        <% end %>
      </div>
      <div class="alpha-grid-2">
        <% ALPHA_LETTERS[10..18].each do |alpha_letter| %>
          <% if @available_letters.include?(alpha_letter) %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>"><%= alpha_letter %></button>
          <% else %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>" disabled> </button>
          <% end %>
        <% end %>
      </div>
      <div class="alpha-grid-3">
        <% ALPHA_LETTERS[19..26].each do |alpha_letter| %>
          <% if @available_letters.include?(alpha_letter) %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>"><%= alpha_letter %></button>
          <% else %>
            <button class="letter" type="submit" name="letter_choice"
              value="<%= alpha_letter %>" disabled> </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </form>
</section>

<% if session[:wrong_guess] %>
  <h4 class="wrong-letter"><em>No '<%= session[:wrong_guess] %>' found!</em></h2>
<% end %>
