<section class="gallows">
  <% case @wrong_answer_count %>
  <% when 0 %>
    <img src="/images/hangman_empty_gallows.svg" alt="empty gallows - game has just started">
  <% when 1 %>
    <img src="/images/hangman_head_only.svg" alt="just the head so far">
  <% when 2 %>
    <img src="/images/hangman_head_and_body.svg" alt="now the head and body">
  <% when 3 %>
    <img src="/images/hangman_one_limb.svg" alt="one limb!">
  <% when 4 %>
    <img src="/images/hangman_two_limbs.svg" alt="two limbs!!">
  <% when 5 %>
    <img src="/images/hangman_three_limbs.svg" alt="three limbs!!!!">
  <% when 6 %>
    <img src="/images/hangman_full_body.svg" alt="full hangman body - player loses">
  <% end %>
</section>

<% if game_over? %>
  <hr class="info-separator">
<% end %>

<section class="episode-info">
  <% if all_letters_found? %>
    <h4 class="you-win">You Win!!</h3>
  <% elsif game_over? %>
    <h4 class="you-lose">The episode title is:</h3>
  <% end %>
  <% if game_over? %>
    <% if view_dev? %>
      <h2 class="ep-title">"<%= @secret_word.split.map(&:capitalize).join(" ") %>"</h2>
    <% else %>
      <h2 class="ep-title">"<%= @secret_word.split.map(&:capitalize).join(" ") %>" - Season: <%= @season_num %></h2>
    <% end %>
  <% end %>

  <% if game_over? %>
    <p class="ep-description"><%= display_description %></p>
  <% end %>
</section>

<% if game_over? %>
  <% unless view_dev? %>
    <img class="ep-image" src="<%= @img_path %>" alt="A picture from this episode.">
  <% end %>

  <fieldset class="play-again">
    <form action='/play_again' method='post'>
      <p class="play-again">Play again?</p>
      <div class="play-again-buttons">
        <button type="submit" name="play_again" value="no">no</button>
        <button type="submit" name="play_again" value="yes">yes</button>
      </div>
    </form>
  </fieldset>
<% end %>

<section class="secret-letter-list">
  <% @filtered_words.each do |word_group| %>
    <ul class="secret-letter-list">
      <% word_group.each_with_index do |letter, idx| %>
        <% if letter == " " %>
          <li>&nbsp;&nbsp;</li>
        <% elsif word_group[idx - 1] == " " || idx == 0 %>
          <li><%= letter.capitalize %></li>
        <% else %>
          <li><%= letter %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</section>

<section class="alpha-pick">
  <form class="alpha-form" method="post" action="/gallows">
    <div class="alpha-grid">
      <% { 1 => (0..9), 2 => (10..18), 3 => (19..26) }.each do |rows, cols| %>
        <div class="alpha-grid-<%= "#{rows}" %>">
          <% ALPHA_LETTERS[cols].each do |alpha_letter| %>
            <% if @available_letters.include?(alpha_letter) %>
              <button class="letter avail" type="submit" name="letter_choice"
                value="<%= alpha_letter %>"><%= alpha_letter %></button>
            <% elsif @filtered_words.flatten.include?(alpha_letter) %>
              <button class="letter correct guessed" type="submit" name="letter_choice"
                value="<%= alpha_letter %>"><%= alpha_letter %></button>
            <% else %>
              <button class="letter incorrect guessed" type="submit" name="letter_choice"
                value="<%= alpha_letter %>" disabled><%= alpha_letter %></button>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </form>
</section>

<% if session[:wrong_guess] %>
  <h4 class="wrong-letter"><em>No '<%= session[:wrong_guess].upcase %>' found!</em></h2>
<% elsif !session[:player_guesses].empty? %>
  <h4 class="right-letter"><em>'<%= session[:player_guesses].last.upcase %>' found!</em></h2>
<% end %>
